# Ignore workspace settings.
.vscode/

# Ignore symlinked .devcontainer.
/.devcontainer

# Ignore users bash history.
.bash_history

# exercism.io metadata
.exercism/

# sbt artefacts
target/
.bsp/
project/